*
{
	margin:0px;
	padding:0px;
}
#menu
{
	height:60px;
	background-image:url(unnamed.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
}
.nav-item
{
	margin-right:55px;
	font-size:18px;
}
#menu>ul>li>a
{
	display:block;
	color:black;
	font-style:bold;
	font-size:18px;
}
#menu>ul>li> a:hover
{
	background-color:#00F;
}
.aboutas
{
	margin-top:70px;
	background-color:FFF;
}